<script defer src="js/recover.js"></script>

<div>Please, enter your email address to reset your password <br>
  <form name="recover" action="/api/auth/recovering" method="POST" id="rec">
    <input type="email" name="email" placeholder="e-mail">
    <input type="submit" value="Reset">
  </form>
</div>
